@use "../abstracts/mixins";

.block {
  @extend %block;
}

// https://web.dev/centering-in-css/
.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.span-fullwidth {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
