@use "../abstracts/mixins";

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.unselectable {
  @extend %unselectable;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.15ch;
}

.hyphenate {
  @extend %hyphenate;
}
