<!DOCTYPE html>
<html lang="{{ lang }}">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "meta-info.njk" %}

  <link rel="icon" href="/{{ config.dir.assets }}/img/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/{{ config.dir.assets }}/img/apple-touch-icon.png" sizes="180x180">

  <link href="{{ utils.assetPath('css/kds*.css') }}" rel="stylesheet">
  <link href="{{ utils.assetPath('css/main*.css') }}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <script>
    {{ utils.readFile('js/kds-head.js') | safe }}
  </script>

  {% block head %}
  {% endblock %}
</head>
<body data-template="{{ layout }}">

  {% include 'header.njk' %}
  {% block content %}
    {{ content | safe }}
  {% endblock content %}
  {% include 'footer.njk' %}

{% block foot %}
{% endblock %}
<script src="{{ utils.assetPath('js/kds.*.js') }}"></script>
<script src="{{ utils.assetPath('js/main*.js') }}" type="module"></script>

</body>
</html>
