@use "../abstracts/breakpoints";

.box {
  display: block;
  background-color: var(--box-background, var(--color-background));
  box-shadow:
    inset 0 0 0 var(--space-px) var(--box-border-inset, currentColor),
    0.375rem -0.375rem 0 calc(-1 * var(--space-px)) var(--box-background, var(--color-background)),
    0.375rem -0.375rem var(--box-border, var(--color-primary));
  padding: var(--space-m);
}

.box-skewed {
  position: relative;
  padding: var(--space-l);

  &::before {
    background: var(--box-background, var(--color-background));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-1deg);
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &[data-theme] {
    background-color: transparent;
  }

  @include breakpoints.media-below(sm) {
    [class*="container"] > & {
      margin-left: calc(-1 * var(--space-m));
      margin-right: calc(-1 * var(--space-m));
      padding-left: var(--space-m);
      padding-right: var(--space-m);
    }
  }
}

.box-header {
  --angle: 1deg;
  --tan: 0.0175; // tan(1deg)
  --clip-padding: calc(var(--container-width, 100vw) * var(--tan));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--clip-padding)));
  padding-bottom: calc(var(--clip-padding) / 2);
  overflow: hidden;

  // Invert background and text color in unthemed containers
  &:not([data-theme]) {
    background-color: var(--box-background, var(--color-text));
    color: var(--box-color, var(--color-background));
  }

  > :only-child {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
    transform: rotate(var(--angle));
    text-align: center;
  }
}
