.content {
  // Replicate root styles but keep them scalable on a class-level
  // with an adjustable base size
  --content-size: 1rem;

  --content-text-s:    calc(var(--content-size) / var(--text-scale-ratio));
  --content-text-l:    calc(var(--content-size) * var(--text-scale-ratio));
  --content-text-xl:   calc(var(--content-text-l) * var(--text-scale-ratio));
  --content-text-xxl:  calc(var(--content-text-xl) * var(--text-scale-ratio));
  --content-text-xxxl: calc(var(--content-text-xxl) * var(--text-scale-ratio));
  --content-space-xs:  calc(var(--content-size) / 4);
  --content-space-s:   calc(var(--content-size) / 2);
  --content-space-m:   var(--content-size);
  --content-space-l:   calc(var(--content-size) * 2);

  font-size: var(--content-size);
  overflow-wrap: break-word;

  //
  // Vertical block spacing
  //

  > * {
    &:not(:last-child) {
      margin-bottom: calc(var(--content-space-m) * var(--block-vspace-multiplier, 1));
    }
  }

  figure {
    &:not(:last-child) {
      margin-bottom: calc(var(--content-space-l) * var(--block-vspace-multiplier, 1));
    }
  }

  figure,
  h1,
  h2,
  h3,
  h4 {
    &:not(:first-child) {
      margin-top: calc(var(--content-space-l) * var(--block-vspace-multiplier, 1));
    }
  }

  hr {
    margin: calc(var(--content-space-m) * var(--block-vspace-multiplier, 1)) auto;
  }

  //
  // Headings
  //

  h1,
  h2,
  h3,
  h4 {
    line-height: var(--line-height-heading);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
    font-weight: 600;
  }

  h1 { font-size: var(--content-text-xxxl); }
  h2 { font-size: var(--content-text-xxl); }
  h3 { font-size: var(--content-text-xl); }
  h4 { font-size: var(--content-text-l); }

  //
  // Text-level semantics
  //

  li + li {
    margin-top: calc(var(--content-space-xs) * var(--block-vspace-multiplier, 1));
  }

  //
  // Common content elements
  //

  ul,
  ol,
  dd {
    margin-left: var(--content-space-l);
  }

  ul ul {
    margin-top: calc(var(--content-space-s) * var(--block-vspace-multiplier, 1));
  }

  blockquote {
    &::before,
    &::after {
      color: var(--color-primary);
      font-size: 1.5em;
      line-height: 0;
      vertical-align: baseline;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  figure {
    text-align: center;
    // margin-left: var(--content-space-l);
    // margin-right: var(--content-space-l);

    img {
      display: inline-block;
    }

    figcaption {
      margin-top: calc(var(--content-space-s) * var(--block-vspace-multiplier, 1));
    }
  }
}
