:root {
  --color-primary:           hsl(249, 51%, 53%);
  --color-primary-vary:      hsl(249, 51%, 43%);
  --color-link:              var(--color-primary);
  --font-family-base:        system-ui, -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --docs-color-highlight:    hsla(249, 51%, 53%, 0.15);
}

body {
  min-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body > * {
  min-width: 0;
}

@media (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto 1fr;

    > * {
      min-width: 0;
    }
  }
}

@import "docs/header";
@import "docs/menu";
@import "docs/snippets";
@import "docs/miscellaneous";
@import "docs/footer";
@import "vendor/hljs";
