---
tags: layout
title: Container
subheading: A simple container to center your content horizontally
---

<p>Containers are a fundamental building block that contain, pad, and align your content within a given device or viewport. The container class can be used in any context.</p>

<p>For each breakpoint the container's width is calculated by <code>calc(100% - 2 * var(--space-m))</code>. This results in a space between container and screen edge. It amounts to <code>1rem</code> without changes to the medium space CSS variable.</p>

<p>This framework comes with three different containers:</p>
<ul>
  <li><code>.container</code>, which sets a <code>max-width</code> at each responsive breakpoint</li>
  <li><code>.container-{breakpoint}</code>, which is fluid until the specified breakpoint</li>
  <li><code>.container-fluid</code>, which is has no <code>max-width</code> at any breakpoints</li>
</ul>

<h2>Default container</h2>

<p>The default <code>.container</code> class is a responsive, fixed-width container, meaning its <code>max-width</code> changes at each breakpoint. Throughout each breakpoint range the container has a <code>max-width</code> equal to the width of the breakpoint width below the active one.</p>

<div class="w-100 mt-l mb-m">
  <div class="container-sm snippet-example">
    <div class="docs-box">
      This container is <strong>centered</strong> on desktop.
    </div>
  </div>
</div>

{% highlight %}
<div class="container">
  <p>This container is <strong>centered</strong> on desktop.</p>
</div>
{% endhighlight %}

<h2>Container breakpoints</h2>

<p>The table below illustrates how each containerss <code>max-width</code> compares to the original <code>.container</code> and <code>.container-fluid</code> across each breakpoint.</p>

<table class="table text-left">
  <thead>
    <tr>
      <th></th>
      <th>
        Extra small<br>
        <span class="font-weight-normal">&lt; 640px</span>
      </th>
      <th>
        Small<br>
        <span class="font-weight-normal">≥ 640px</span>
      </th>
      <th>
        Medium<br>
        <span class="font-weight-normal">≥ 768px</span>
      </th>
      <th>
        Large<br>
        <span class="font-weight-normal">≥ 1024px</span>
      </th>
      <th>
        X-Large<br>
        <span class="font-weight-normal">≥ 1280px</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>.container</code></td>
      <td class="text-gray">100%</td>
      <td>640px</td>
      <td>768px</td>
      <td>1024px</td>
      <td>1280px</td>
    </tr>
    <tr>
      <td><code>.container-sm</code></td>
      <td class="text-gray">100%</td>
      <td>640px</td>
      <td class="text-gray">640px</td>
      <td class="text-gray">640px</td>
      <td class="text-gray">640px</td>
    </tr>
    <tr>
      <td><code>.container-md</code></td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td>768px</td>
      <td class="text-gray">768px</td>
      <td class="text-gray">768px</td>
    </tr>
    <tr>
      <td><code>.container-lg</code></td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td>1024px</td>
      <td class="text-gray">1024px</td>
    </tr>
    <tr>
      <td><code>.container-xl</code></td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td>1280px</td>
    </tr>
    <tr>
      <td><code>.container-fluid</code></td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
      <td class="text-gray">100%</td>
    </tr>
  </tbody>
</table>

<h2>Fixed responsive containers</h2>

<p>The following classes allow you to specify containers that are fluid until the specified breakpoint is reached and have a <code>max-width</code> from then on. For example, if you prefer a smaller container for a content-centered page.</p>

{% highlight %}
<div class="container-sm">fluid until small breakpoint</div>
<div class="container-md">fluid until medium breakpoint</div>
<div class="container-lg">fluid until large breakpoint</div>
<div class="container-xl">fluid until extra large breakpoint</div>
{% endhighlight %}

<p>Take this small container for example:</p>

<div class="mt-l mb-m">
  <div class="container-sm snippet-example">
    <div class="docs-box">
      This container is <strong>centered</strong> on desktop.
    </div>
  </div>
</div>

{% highlight %}
<div class="container-sm">
  <p>This container is <strong>centered</strong> on desktop.</p>
</div>
{% endhighlight %}

<h2>Fluid container</h2>

<p>If you don't want a container with fixed width per breakpoint, use <code>.container-fluid</code> for a full width container, spanning the entire width of the viewport. With that applied, no <code>max-width</code> is set on the container and it shrinks and grows like any other block element. The left and right space from the viewport is still present.</p>
