@use "sass:map";

$colors: (
  theme: var(--color-background),
  primary: var(--color-primary),
  red: var(--color-red),
  pink: var(--color-pink),
  purple: var(--color-purple),
  blue: var(--color-blue),
  turquoise: var(--color-turquoise),
  green: var(--color-green),
  yellow: var(--color-yellow),
  orange: var(--color-orange),
  white: white,
  gray: var(--color-gray),
  gray-dark: var(--color-gray-dark),
  black: var(--color-black),
) !default;

$font-sizes: (
  xs: var(--text-xs),
  s: var(--text-s),
  m: var(--text-m),
  l: var(--text-l),
  xl: var(--text-xl),
  xxl: var(--text-xxl),
  xxxl: var(--text-xxxl),
  hero: var(--text-hero),
) !default;

$spacers: (
  0: 0,
  xxs: var(--space-xxs),
  xs: var(--space-xs),
  s: var(--space-s),
  m: var(--space-m),
  l: var(--space-l),
  xl: var(--space-xl),
  xxl: var(--space-xxl),
) !default;

$custom: () !default;
$export: map.merge(
  (
    "position": (
      property: position,
      values: unset static relative absolute fixed sticky
    ),
    "display": (
      responsive: true,
      property: display,
      class: d,
      values: none inline inline-block block flex inline-flex grid
    ),
    "overflow": (
      property: overflow,
      values: auto hidden,
    ),

    // Sizing utilities
    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      )
    ),
    "max-width": (
      property: max-width,
      class: mw,
      values: min-content max-content
    ),
    "viewport-width": (
      property: width,
      class: vw,
      values: (100: 100vw)
    ),
    "height": (
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      )
    ),
    "viewport-height": (
      property: height,
      class: vh,
      values: (100: calc(var(--vh, 1vh) * 100))
    ),
    "min-viewport-height": (
      property: min-height,
      class: min-vh,
      values: (100: calc(var(--vh, 1vh) * 100))
    ),

    // Flex utilities
    "justify-content": (
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      )
    ),
    "align-items": (
      property: align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      )
    ),

    // Margin utilities
    "margin": (
      responsive: true,
      property: margin,
      class: m,
      values: map.merge($spacers, (auto: auto))
    ),
    "margin-x": (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values: map.merge($spacers, (auto: auto))
    ),
    "margin-y": (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values: map.merge($spacers, (auto: auto))
    ),
    "margin-top": (
      responsive: true,
      property: margin-top,
      class: mt,
      values: map.merge($spacers, (auto: auto))
    ),
    "margin-right": (
      responsive: true,
      property: margin-right,
      class: mr,
      values: map.merge($spacers, (auto: auto))
    ),
    "margin-bottom": (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values: map.merge($spacers, (auto: auto))
    ),
    "margin-left": (
      responsive: true,
      property: margin-left,
      class: ml,
      values: map.merge($spacers, (auto: auto))
    ),

    // Padding utilities
    "padding": (
      responsive: true,
      property: padding,
      class: p,
      values: $spacers
    ),
    "padding-x": (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers
    ),
    "padding-y": (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers
    ),
    "padding-top": (
      responsive: true,
      property: padding-top,
      class: pt,
      values: $spacers
    ),
    "padding-right": (
      responsive: true,
      property: padding-right,
      class: pr,
      values: $spacers
    ),
    "padding-bottom": (
      responsive: true,
      property: padding-bottom,
      class: pb,
      values: $spacers
    ),
    "padding-left": (
      responsive: true,
      property: padding-left,
      class: pl,
      values: $spacers
    ),

    // Text
    "color": (
      property: color,
      class: text,
      values: $colors
    ),
    "background-color": (
      property: background-color,
      class: bg,
      values: $colors
    ),
    "line-height": (
      property: line-height,
      class: lh,
      values: (
        1: 1,
        base: var(--line-height-base),
        heading: var(--line-height-heading),
      )
    ),
    "font-size": (
      responsive: true,
      property: font-size,
      class: text,
      values: $font-sizes
    ),
    "font-family": (
      property: font-family,
      class: text,
      values: (
        base: var(--font-family-base),
        heading: var(--font-family-heading),
      )
    ),
    "font-weight": (
      property: font-weight,
      class: text,
      values: (
        light: 300,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        bolder: 800,
      )
    ),
    "text-align": (
      property: text-align,
      class: text,
      values: left right center
    ),
  ),
  $custom
);
