// Hide focus styles if they're not needed, for example,
// when an element receives focus via the mouse
:focus:not(:focus-visible) {
  outline: none;
}

// Show focus styles on keyboard focus
:focus-visible {
  // Use background color of `.btn` elements if present
  outline: 2px dashed var(--button-background, currentColor);
  outline-offset: 2px;
}
