@use "../abstracts/mixins";

.form-select {
  @extend %control;
  display: block;
  width: 100%;
  padding: var(--space-s) var(--space-l) var(--space-s) var(--space-s);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23333333' stroke-linecap='square' stroke-width='4' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border-color: var(--color-gray);
  vertical-align: middle;

  &:hover {
    border-color: var(--color-primary);
  }

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 var(--space-px) var(--color-primary);
    outline: none;
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: var(--space-s);
    background-image: none;
  }

  &:disabled {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-light);
    color: var(--color-text);
    opacity: 0.75;
  }
}
