.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.75em;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    width: 1.25em;
    height: 1.25em;
    background-color: var(--color-background);
    border: var(--space-px) solid var(--color-gray);
    margin-left: -1.75em;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    vertical-align: top;

    &[type="checkbox"] {
      border-radius: 0;
    }

    &[type="radio"] {
      border-radius: 50%;
    }

    &:active {
      filter: brightness(90%);
    }

    &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 0 0 var(--space-px) var(--color-primary);
      outline: none;
    }

    &:checked {
      background-color: var(--color-primary);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1em;
      border-color: var(--color-primary);

      &[type="checkbox"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='square' stroke-width='3' d='M4 8.5L6.5 11l6-6'/%3e%3c/svg%3e");
      }

      &[type="radio"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
      }
    }

    &[type="checkbox"]:indeterminate {
      background-color: var(--color-primary);
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M5 8h6'/%3e%3c/svg%3e");
      background-size: 1em;
      border-color: var(--color-primary);
    }

    &:disabled {
      pointer-events: none;
      filter: none;
      opacity: 0.5;

      ~ label {
        opacity: 0.5;
      }
    }
  }
}
