---
tags: utilities
title: Position
subheading: Shorthand utilities for quickly configuring the position of an element
---

<h2>Common values</h2>

<p>Quick positioning classes are available, though they are not responsive.</p>

{% highlight %}
<div class="position-static">…</div>
<div class="position-relative">…</div>
<div class="position-absolute">…</div>
<div class="position-fixed">…</div>
<div class="position-sticky">…</div>
{% endhighlight %}
