@mixin control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: var(--color-background);
  border: var(--space-px) solid transparent;
  color: var(--color-text);
  border-radius: 0;
}

@mixin block {
  &:not(:last-child) {
    margin-bottom: var(--space-m);
  }
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin highlight {
  display: inline-block;
  position: relative;
  margin: 0 0.25ch;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -0.25ch;
    bottom: -0.2ex;
    left: -0.25ch;
    background-color: var(--highlight-color, var(--color-gray-light));
    z-index: -1;
  }
}

@mixin hyphenate {
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

@mixin clip-wonky {
  clip-path: var(--path-clip-wonky);
}

@mixin clip-goofy {
  clip-path: var(--path-clip-goofy);
}

@mixin clip-skewed {
  clip-path: var(--path-clip-skewed);
}

//
// Placeholder selectors
//

%block {
  @include block;
}

%control {
  @include control;
}

%unselectable {
  @include unselectable;
}

%highlight {
  @include highlight;
}

%hyphenate {
  @include hyphenate;
}

%clip-wonky {
  @include clip-wonky;
}

%clip-goofy {
  @include clip-goofy;
}

%clip-skewed {
  @include clip-skewed;
}
