---
tags: helpers
title: Clip
subheading: Clip elements into KATAPULT-styled boxed
---

<p>If you want to place a box in a fixed KATAPULT frame, but it isn't a button and the <code>.box-skewed</code> class is not suitable, you can use one of the predefined <code>.clip-*</code> classes.</p>

{% snippet %}
<div class="stack-v">
  <div class="clip-wonky p-m text-white bg-blue">.clip-wonky</div>
  <div class="clip-goofy p-m bg-green">.clip-goofy</div>
  <div class="clip-skewed p-m bg-yellow">.clip-skewed</div>
</div>
{% endsnippet %}
