---
tags: helpers
title: Hyphenate
subheading: Hyphenate any paragraph of your liking
---

<p>Hyphenation is a perfect example of progressive enhancement, support among browsers will only increase. If you are designing for a website written in a language with long words, such as German, your readers will definitely thank you for it. Hyphenate any text by adding the <code>.hyphenate</code> class.</p>

{% snippet %}
<p class="hyphenate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
{% endsnippet %}
