---
title: Helpers
subheading: Apply helper classes to almost any element, in order to alter their style
---

<nav class="stack" style="--stack-gap: 1.5rem;">
  {%- for item in collections.helpers -%}
    <div class="box position-relative">
      <a class="stretched-link" href="{{ item.url | url }}">
        <h2 class="text-xxl">{{ item.data.title }}</h2>
      </a>
      <p>{{ item.data.subheading }}</p>
    </div>
  {%- endfor -%}
</nav>
