---
tags: helpers
title: Unselectable
subheading: Prevent text from bing selected, copied etc.
---

<p>The <code>.unselectable</code> class prevents the text from being selectable.</p>

{% snippet %}
<p class="unselectable docs-box">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
{% endsnippet %}
