---
tags: helpers
title: Visually hidden
subheading: Visually hide elements but keep them accessible to assistive technologies
---

<p>Visually hide an element while still allowing it to be exposed to assistive technologies (such as screen readers) with <code>.hidden-visually</code> <strong>or</strong> <code>.sr-only</code>.</p>

{% snippet %}
<h2 class="sr-only">Title for screen readers</h2>
{% endsnippet %}
